[flake8]
# E203: space after :, not PEP8 compliant
# W503: no operator after line break, not PEP8 compliant
* E231: missing whitespace after ','; conflicts with black formatting
ignore = E203, W503, E231
